<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project.Properties.Settings.quanlyConnectionString" connectionString="Data Source=HPX360-2025\MSSQLSERVER02;Initial Catalog=quanly;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
